PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/clinica-inteligente
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
OPENWEATHER_API_KEY=your_openweather_api_key_here
OPENWEATHER_BASE_URL=https://api.openweathermap.org/data/2.5
FRONTEND_URL=http://localhost:5173
